.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  
}
.text-area{
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    width: 45%;
    text-align: center;
}

@media (max-width:850px)
{
    .main-container{
        margin-top: 30px;
    }
    .text-area{
        padding: 10px 20px;
        width: 45%;
        text-align: center;
        font-size: medium;
    }
}

@media (max-width:600px)
{
    .main-container{
   
        margin-top: 30px;
      
    }
    .text-area{
        padding: 10px 20px;
        width: 45%;
        text-align: center;
        font-size: small;
    }
}